@font-face {
    font-family: "Merienda";
    src: url(./_fonts/Merienda-VariableFont_wght.ttf);
}

:root {
    --animation-duration: 0.3s;
    --font-size: clamp(0.6rem, 2vw, 1.3rem);
    --padding: 2rem;
    --text-color: white;
    --transition-timing: ease-in;
    
}
* {
    font-family: "Merienda", sans-serif;
}
body {
    
    background-color: purple;
    color: var(--text-color);
    font-family: monospace;
    font-size: var(--font-size);
    header, main, footer {
        padding: var(--padding);
    }
    h1, h2 {
		background-color: white;
		color: black;
		padding: 0.1rem;
		text-align: center;
    }
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
        "header"
        "main"
        "footer";

}
h3 {
    background-color: white;
    color: black;
    text-align: center;
}
header {
    background-color: black;
	text-align: center;
    nav {
        a {
            color: var(--text-color);
            &:hover {
                transform: scale(1.03);
                color: aqua;
                transition-property: all;
                transition-duration: var(--animation-duration);
                transition-timing-function: var(--transition-timing);
            }
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;
    }
    grid-area: header;
}
main {
    section {
        display: flex;

        flex-direction: column;
        justify-content: center;
    }
    picture {
        display: flex;
        img {
            max-width: 100%;
            height: auto;
        }
    }
	grid-area: main;
}
footer {
	background: black;
	color: var(--text-color);
	text-align: center;
	grid-area: footer;
}
picture {
            display: flex;
            justify-content: center;
}